body * {
  box-sizing: border-box;
}

#container {
  position: relative;
  border: 1px solid red;
  box-shadow: 0 2px 10px rgba(255, 59, 59, 0.438);
  margin: 30px auto;
  width: 800px;
  height: 500px;
}

